
.generate_otp{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button_otp {
	border-radius: 5px;
    border: none;
    margin: 40px 40px 40px 40px;
    width: 40%;
    max-width: 240px;
    height: 40px;
    font-size: 18px;
    background-color: aqua;
    font-family: "Gotham Bold";
    font-weight: 700;
    
	&:hover {
		background: #03e9f4;
		color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 5px #03e9f4, 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 5px #03e9f4;
	}
}

