.div_container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100vw;
	margin: 10px 0;
}

#table td,
#table th {
	border: 1px solid #ddd;
	padding: 8px;
}

#table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#table tr:hover {
	background-color: #ddd;
}

#table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #04aa6d;
	color: white;
}

.image {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	object-fit: cover;
}
.image_div {
	width: 60px;
}
.button {
	width: 100%;
	margin-top: 40px;
	position: relative;
	display: flex;
	padding: 0 10px;
	flex-direction: row-reverse;
	justify-content: space-between;
	div {
		display: flex;
		flex-direction: row-reverse;
		padding: 0 20px;
    	justify-content: space-around;
	}
}

.sort_container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	i {
		cursor: pointer;
		padding: 0 2px;
	}
}
.col_4{
	display: flex;
	justify-content: space-around;
}

// Reponsive 

@media (min-width: 900px) and (max-width: 1160px) {
	
}
@media (min-width: 740px) and (max-width: 900px) {
	.button{
		
		div{
			padding: 0 10px;
		}
	}
	

}
@media (max-width: 740px) {
	.button{
		button{
			span{
				display: none;
			}
		}
		label{
			span{
				display: none;
			}
		}
	}
	.export{
		span{
			display: none;
		}
	}
	
}
@media (min-width: 550px)and (max-width: 740px){

	.col_1{
		display: none;
	}
	.col_2{
		display: none;
	}
}
@media (max-width: 550px){
	.col_1{
		display: none;
	}
	.col_2{
		display: none;
	}
	.col_3{
		display: none;
	}
}
